doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Random Business Map
  body
    div(id='map' style='height: 100vh;')
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.API_KEY}`)
    script(src='./src/index.ts')